<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<div class="box" data-aos="fade-in"></div>
<hr>
<div class="box" data-aos="flip-up"></div>
<hr>
<div class="box" data-aos="flip-up"></div>

<hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div><hr>
<div class="box" data-aos="fade-up"></div>